.locationPontours__login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    padding: 1rem;
}

.locationPontours__login-form-button {
    margin-top: 1rem;
}